{% extends "base.html" %} {% block content %}

<style>
    .inputDiv {
        text-align: center;
    }

    #input, #movie {
        border: none;
        background-color: #e1e1e1;
        border-radius: 2em;
        font-size: 1.3em;
        padding: 1em;
        width: 78%;
    }

    #input:focus, #movie:focus {
        outline: none !important;
        border: none;
        box-shadow: 0 0 0px #2c2c2c !important;
    }

    #submit {
      color: white !important;
      background-color: #d6af00 !important;
    }

    #submit:hover {
      background-color: #ae8e00 !important;
    }

	.autocomplete {
		position: relative;
		display: inline-block;
	}

	.autocomplete-items {
		position: absolute;
		border-bottom: none;
		border-top: none;
		z-index: 99;
		top: 100%;
		left: 0;
		right: 0;
        margin-left: 8.4em;
	}

	.autocomplete-items div {
		padding: 10px;
		font-size: 1.8vw;
		cursor: pointer;
		width: 10em;
        color: white;
		background-color: #373737;
        border-radius: 0.8em;
	}

	.autocomplete-items div:hover {
		background-color: #292929;
	}

    .prompt {
        margin-top: 0.8em;
        font-size: 2.2vw;
        text-align: left;
        margin-left: 4em;
    }

</style>

<div class="container" style="margin-top: 2em; width: 100%;">

    <form autocomplete="off" action="/review_added" method="POST">
        {% csrf_token %}
        <div class="inputDiv">
            <h1 class="prompt">
                Select a Movie:
            </h1> 

            <div class="container autocomplete">
    
                <input id="movie" type="text" name="movie" 
                placeholder="Start Typing To Select..." required="required">
            </div>

            <h1 class="prompt">
                Add the Review:
            </h1> 
            <textarea id="input" name="review" placeholder="The movie was really good..."></textarea> 
            
            <br><br>

            <button id="submit" class="btn btn-lg">
                Submit!
            </button>
        </div>
    </form>
    
    <hr style="width: 100%; margin-top: 2em;">

    <!-- <h3 style="font-weight: bold;">Semester Project by: Akshit Sarin</h3> -->
  
</div>

<script>
    function autocomplete(inp, arr) {
    var currentFocus;
    inp.addEventListener("input", function(e) {
        var a, b, i, val = this.value;
        closeAllLists();
        if (!val) { return false;}
        currentFocus = -1;
        a = document.createElement("DIV");
        a.setAttribute("id", this.id + "autocomplete-list");
        a.setAttribute("class", "autocomplete-items");
        this.parentNode.appendChild(a);
        for (i = 0; i < arr.length; i++) {
            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
            b = document.createElement("DIV");
            b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
            b.innerHTML += arr[i].substr(val.length);
            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
            b.addEventListener("click", function(e) {
                inp.value = this.getElementsByTagName("input")[0].value;
                closeAllLists();
            });
            a.appendChild(b);
            }
        }
    });

    function addActive(x) {
        if (!x) return false;

        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);

        x[currentFocus].classList.add("autocomplete-active");
    }

    function removeActive(x) {
        /*a function to remove the "active" class from all autocomplete items:*/
        for (var i = 0; i < x.length; i++)
        x[i].classList.remove("autocomplete-active");

    }

    function closeAllLists(elmnt) {
        var x = document.getElementsByClassName("autocomplete-items");
        for (var i = 0; i < x.length; i++)
        if (elmnt != x[i] && elmnt != inp) x[i].parentNode.removeChild(x[i]);
    }

    document.addEventListener("click", function (e) {
        closeAllLists(e.target);
    });
}

var allMovies = ['Queen', 'Ek Tha Tiger', 'Joker'];
autocomplete(document.getElementById("movie"), allMovies);

</script>

{% endblock %} 